# Environment files
.env
.env.local

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build / cache
.next/
dist/
build/

# Uploads & runtime files
uploads/
logs/

# OS / Editor
.DS_Store
.idea/
.vscode/
